body{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
#input{
    border: 1px solid lightgray;
    width: 308px;
    height: 30px;
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
}
.calculator{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px;
    column-gap: 10px;
    row-gap: 10px;
    border-radius: 1px; 
    padding: 20px;
    width: 300px;    
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}
button{
    padding: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#hiluk{
    grid-column-start: 4;
}
#item0{
    grid-column-start: 1;
}
#item1{
    grid-column-start: 1;
}
#item4{
    grid-column-start: 1;
}
#equals{
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: #4d90fe;
}